body, html {
    height: 100%;
}
  
.bg { 
    /* The image used */
    background-image: url("../images/IMG-1201.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer {
    text-align: end;
    text-align: center;
}

nav {
    margin-bottom: 50px;
}

.navbar-brand {
    font-weight: bold;
}